﻿@model GdzieJacht_Web.GdzieJachtService.Checkpoint[]

@foreach (var checkpoint in Model)
{
    <h3>Punkt trasy nr @checkpoint.checkpoint_id</h3>
    <p>szerokość: @checkpoint.checkpoint_latitude</p>
    <p>długość: @checkpoint.checkpoint_longitude</p> 
}
