﻿@model GdzieJacht_Web.GdzieJachtService.Trip

@{
    ViewBag.Title = "GetTrip";
}

<h2>Trasa nr @Model.trip_id dla użytkownika o nr @Model.user_id</h2>

<p>
    @{ Html.RenderAction("GetCheckpoints", new { tripId = Model.trip_id }); }
</p>
