﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "NoTrips";
}

<div class="paddingtop">
    <h3 class="page-header blue">Brak tras</h3>
<h6>Nie posiadasz żadnych tras. Kup jacht i dodawaj trasy!</h6>
</div>