﻿@model List<GdzieJacht_Web.GdzieJachtService.Trip>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqlhmV67GR-JYe0d9suFZPZ7izjgzfOqc"></script>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Trip";
}

<div class="paddingtop">
<h3 class="page-header blue">Przeglądanie trasy</h3>
    <h6>Przeglądaj swoje dotychczasowe trasy, analizuj dane zawarte w statystyce i zaplanuj kolejne!</h6>
<div>
    <label for="trip_id">Wybierz datę:</label>
    <select class="selectpicker" name="trip_id">
        @foreach (var trip in Model)
        {
            <option value="@trip.trip_id">@trip.trip_date</option>
        }
    </select>
</div>


<div id="map-canvas"></div>
<style>
    #map-canvas {
        height: 100%;
        min-height: 500px;
        min-width: 500px;
    }
</style>
    <section id="services" class="section pad-bot5 bg-white">
    <div id="statistic">
        <div class="container"> 
				<div class="row mar-bot5">
					<div class="col-md-offset-3 col-md-6">
						<div class="section-header">
						<div class="wow bounceIn"data-animation-delay="7.8s">
							<h2 class="section-heading animated">Statystyki</h2>
							<h4>Zapoznaj się ze statystykami z Twojej podróży.</h4>
						</div>
						</div>
					</div>
				</div>
			<div class="row mar-bot40">
				<div class="col-lg-4" >
					<div class="wow bounceIn">
						<div class="align-center">
							<div class="wow rotateIn">
								<div class="service-col">
									<div class="service-icon">
										<figure><i class="fa fa-flash"></i></figure>
									</div>
										<h2>Prędkość</h2>
										<p>Średnie prędkość podczas podróży to:</p><br />
                                    <h3><span id="statistic_speed"></span></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
					
				<div class="col-lg-4" >
					<div class="align-center">
						<div class="wow bounceIn">
					   
							<div class="wow rotateIn">
								<div class="service-col">	
									<div class="service-icon">
										<figure><i class="fa fa-anchor"></i></figure>
									</div>
										<h2>Przebyty dystans</h2>
										<p>Udało Ci się przemierzyć: </p> <br />
                                   <h3><span id="statistic_distance"></span></h3>
								</div>
							</div>	
						</div>
					</div>
				</div>
			
				<div class="col-lg-4" >
					<div class="align-center">
						<div class="wow bounceIn">
							<div class="service-col">
								<div class="service-icon">
									<figure><i class="fa fa-arrows-v"></i></figure>
								</div>
									<h2>Wysokość</h2>
									<p>Średnia wysokość uzyskana podczas podróży to: </p><br />
                                <h3><span id="statistic_height"></span></h3>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
    </div>
    </section>
    </div>
<script type="text/javascript">
    var map;
    var t = 0;;
    var tripPoints = [];
    var NewPoints = [];
    $(document).ready(function () {
       
      
        draw_map($('select[name="trip_id"]').val(),true);

        $('select[name="trip_id"]').change(function (a) {
            draw_map($(this).val(),true);

            setInterval(function () {
                draw_map($('select[name="trip_id"]').val(),false);
            }, 5000);
        });
    });

    function draw_map(tripId, temp) {

                if (!temp) {
                    $.ajax({
                        url: '@Url.Action("GetPoints", "Trip")/' + tripId,
                        success: function (result) {


                            if (result.length === 0) {
                                alert("Błąd! Trasa nie zawiera punktów!");

                                $("div#statistics span").text('brak danych');

                                return;
                            }


                            NewPoints = [];
                            var speedSum = 0;
                            var heightSum = 0;
                            var distanceSum = 0;

                           
                                $.each(result, function (key, data) {
                                    NewPoints.push(new google.maps.LatLng(data.checkpoint_latitude, data.checkpoint_longitude));
                                });

                                console.log(NewPoints.length + "==" + tripPoints.length);
                            //sprawdzanie czy przybyl nowy punkt
                           if (NewPoints.length > tripPoints.length) {

                               tripPoints = [];
                              //tworzenie nowej listy
                               $.each(result, function (key, data) {
                                   speedSum += data.checkpoint_speed;
                                   heightSum += data.checkpoint_height;

                                   tripPoints.push(new google.maps.LatLng(data.checkpoint_latitude, data.checkpoint_longitude));
                               });

                                   for (var i = 1; i < result.length; i++) {
                                var prev = result[i - 1];
                                var curr = result[i];
                                distanceSum += convertGeopointsToMeters(curr.checkpoint_latitude, curr.checkpoint_longitude, prev.checkpoint_latitude, prev.checkpoint_longitude);
                            }

                            // oblicz średnią prędkość i wysokośc
                            var avgSpeed = speedSum / result.length;
                            var avgHeight = heightSum / result.length;
                            var triplength = trpPoints.length

                            map = new google.maps.Map(document.getElementById('map-canvas'), {
                                zoom: 18,
                                center: tripPoints[triplength-1]
                            });


                            // ustawienie statystyk
                            $('span#statistic_distance').text(distanceSum.toFixed(1) + ' km');
                            $('span#statistic_speed').text(avgSpeed.toFixed(1) + ' km/h');
                            $('span#statistic_height').text(avgHeight.toFixed(1) + ' m');

                            // wyrysuj trasę na mapie
                            var traffic = new google.maps.TrafficLayer();
                            new google.maps.Polyline({
                                path: tripPoints,
                                geodesic: false,
                                strokeColor: '#FF0000',
                                strokeOpacity: 1.0,
                                strokeWeight: 3
                            }).setMap(map);
                            }
                        }
                        });
                }

                
                if (t ==0 || temp)
                {
                    tripPoints = [];
                    $.ajax({
                        url: '@Url.Action("GetPoints", "Trip")/' + tripId,
                        success: function (result) {


                            if (result.length === 0) {
                                alert("Błąd! Trasa nie zawiera punktów!");

                                $("div#statistics span").text('brak danych');

                                return;
                            }



                            var speedSum = 0;
                            var heightSum = 0;
                            var distanceSum = 0;

                            $.each(result, function (key, data) {
                                speedSum += data.checkpoint_speed;
                                heightSum += data.checkpoint_height;

                                tripPoints.push(new google.maps.LatLng(data.checkpoint_latitude, data.checkpoint_longitude));
                            });

                              

                            for (var i = 1; i < result.length; i++) {
                                var prev = result[i - 1];
                                var curr = result[i];
                                distanceSum += convertGeopointsToMeters(curr.checkpoint_latitude, curr.checkpoint_longitude, prev.checkpoint_latitude, prev.checkpoint_longitude);
                            }

                            // oblicz średnią prędkość i wysokośc
                            var avgSpeed = speedSum / result.length;
                            var avgHeight = heightSum / result.length;


                            map = new google.maps.Map(document.getElementById('map-canvas'), {
                                zoom: 18,
                                center: tripPoints[0]
                            });


                            // ustawienie statystyk
                            $('span#statistic_distance').text(distanceSum.toFixed(1) + ' km');
                            $('span#statistic_speed').text(avgSpeed.toFixed(1) + ' km/h');
                            $('span#statistic_height').text(avgHeight.toFixed(1) + ' m');

                            // wyrysuj trasę na mapie
                            var traffic = new google.maps.TrafficLayer();
                            new google.maps.Polyline({
                                path: tripPoints,
                                geodesic: false,
                                strokeColor: '#FF0000',
                                strokeOpacity: 1.0,
                                strokeWeight: 3
                            }).setMap(map);

                            //  updateTrafficOnMap(map, traffic);
                        }});
                t++;
            }
        
    }
   
    function convertLocalDateToUTCDate(date, toUTC) {
        date = new Date(date);
        //Local time converted to UTC
        console.log("Time :" + date);
        var localOffset = date.getTimezoneOffset() * 60000;
        var localTime = date.getTime();
        if (toUTC) {
            date = localTime + localOffset;
        }
        else {
            date = localTime - localOffset;
        }
        date = new Date(date);
        console.log("Converted time" + date);
        return date;
    }

    function convertGeopointsToMeters(lat1, lon1, lat2, lon2) {  // generally used geo measurement function
        var R = 6378.137; // Radius of earth in KM
        var dLat = (lat2 - lat1) * Math.PI / 180;
        var dLon = (lon2 - lon1) * Math.PI / 180;
        var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
        Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *
        Math.sin(dLon / 2) * Math.sin(dLon / 2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        var d = R * c;
        return d; // kilometers
    }
</script>