﻿@{
    ViewBag.Title = "Account";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    @if (ViewBag.Logout != null && ViewBag.Logout == "logout")
    {
        <script type="text/javascript">
            alert("Sesja wygasła. Zostałeś wylogowany");
        </script>
    }
 <div class="container">
       <div class="row">
          <div class="col-lg-12">
             <div class="header">
                <div id="logo"></div> 
            </div>
         </div>
           <div class="row">
   <div class="col-lg-4 col-lg-offset-1">
            @{ Html.RenderPartial("LoginPart", (LoginViewModel)ViewBag.LoginModel); }
   </div>
               <div class="col-lg-5 col-lg-offset-2">
            @{ Html.RenderPartial("RegisterPart", (RegisterViewModel)ViewBag.RegisterModel); }
        </div>
    </div>
              </div>
        </div>
    <footer></footer>
</body>
</html>