﻿@model GdzieJacht_Web.Models.LoginViewModel

<h2>Logowanie</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "loginForm" }))
{
    if (ViewBag.Action == "login")
    {
        @Html.ValidationSummary(true)
    }
    @Html.EditorForModel()
    <br />
    <input type="submit" value="zaloguj" class="btn btn-primary" /> 
}
