﻿@model GdzieJacht_Web.Models.RegisterViewModel

<h2>Rejestracja</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "registerForm" }))
{
    if (ViewBag.Action == "register")
    {
        @Html.ValidationSummary(true)
    }
    @Html.EditorForModel()
  <br />
    <input type="submit" value="zarejestruj" class="btn btn-primary" /> 
}
