﻿@using GdzieJacht_Web.GdzieJachtService
@model IEnumerable<User>

@{
    AjaxOptions chooseFriendAjaxOptions = new AjaxOptions
    {
        UpdateTargetId = "friendGallery"
    };
}

<div id="friendGallery" class="paddingtopp">
<h3 class="page-header blue">Twoja galeria</h3>
<h6>Kliknij na strzałkę by przejść do galerii.</h6>
    <br />
@using (Ajax.BeginForm("Friends_Gallery", chooseFriendAjaxOptions))
    {
        <div style="font-size:large">
            <table style="width:30%">
                <tr>
                    <td style="width:70%">@ViewBag.LoggedUserName</td>
                    <td style="width:30%">
                         <input type="hidden" name="friend_id" value="@ViewBag.LoggedUserID" />
                         <button type="submit" style="background-color:transparent;border:none; float:right">
                                <i class="fa fa-arrow-right"></i>
                            </button>
                    </td>
                </tr>
             </table>
        </div>
    }
    <h3 class="page-header blue">Galerie znajomych</h3>
    <h6>Kliknij na strzałkę by przejść do galerii.</h6>
    <br />
    <h4>@ViewBag.Error</h4>

    @foreach (User u in Model)
    {
        <div style="font-size:large">
            <table style="width:30%">
                <tr>
                    <td style="width:70%">@u.user_name</td>
                    <td style="width:30%">
                    @using (Ajax.BeginForm("Friends_Gallery", chooseFriendAjaxOptions))
                    {
                        <div style="width:200px; float:left; margin:5px">
                            <input type="hidden" name="friend_id" value="@u.user_id" />
                            <button type="submit" style="background-color:transparent;border:none; float:right">
                                <i class="fa fa-arrow-right"></i>
                            </button>
                        </div>                        
                    }
                    </td>
                 </tr>
            </table>
        </div>
    }
    
   
</div>
