﻿@using GdzieJacht_Web.GdzieJachtService
@*@model IEnumerable<Photo>*@
@*@model GdzieJacht_Web.GdzieJachtService.Photo*@

@model GdzieJacht_Web.Models.PhotoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model !=null)
{
   foreach (var p in Model.Photos)
   {
   <div style="font-size:large">
        <div style="width:320px; height:250px; float:left">
            <div class="photo" style="text-align:center; bottom:0">
                @p.photo_filename.ToString()
                <span><img src="data:image;base64,@System.Convert.ToBase64String(p.photo_file)" width="600px" height="396px" border="0" /></span>
                <img src="data:image;base64,@System.Convert.ToBase64String(p.photo_file)" width="300px" height="198px" border="0" />
                    </div>
        </div>
    </div>
    }
    
     @*<div class="pager">
       @Html.PageLinks(Model.PagingInfo, x=> Url.Action("Friends_Gallery", new {page = x} ))
    </div>*@
    
}
else
{
     <h4>@ViewBag.ErrorGallery</h4>
}


