﻿@model GdzieJacht_Web.GdzieJachtService.Photo

@{
    ViewBag.Title = "Photo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function onFailure() {
        window.location = '@Url.Action("Logout", "Account", new { id = "SessionExpired" })';
    }
</script>

<h2>Galeria</h2>
<div id="friendsList">
    @Html.Action("Friends_To_Choose")
</div>
