﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @* <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://lipis.github.io/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="http://lipis.github.io/bootstrap-social/assets/css/font-awesome.css">
  @*  <link href="@Url.Content("~/Content/font-awesome.css")" rel="stylesheet" type="text/css" />*@
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="~/Scripts/jquery-1.8.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-color navbar-inverse navbar-fixed-top" role="navigation" style="border-color:transparent">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/Trip/MoveToTrip">
                        <img src="~/Content/images/poziome_biale.png" height="40px" /></a>

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("PODRÓŻ", "MoveToTrip", "Trip")
                        </li>
                        <li>
                            @Html.ActionLink("GALERIA", "Photo", "Photo")
                        </li>
                        <li>
                            @Html.ActionLink("ZNAJOMI", "Friends", "Friends")
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                 
            </div>
            <!-- /.container -->
            <div id="loginsection">
                <div class="container">
                    <div id="loginsectionuser">
                         @using (Html.BeginForm("Logout", "Account"))
                    {
                        GdzieJacht_Web.GdzieJachtService.User loggedUser = (GdzieJacht_Web.GdzieJachtService.User)HttpContext.Current.Session["User"];
                        //przycisk, który służy do wylogowania
                         <span class="form-group">
                             @Html.ActionLink(@loggedUser.user_name, "UserProfile", "UserProfile")
                             <input type="submit" value="wyloguj" style="background-color:transparent; border:none" />
                         </span>
                    }     
                    </div>                    
                </div>
           
        </div>
        </nav>
       
    </header>
    <div class="container">
        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->
    </div>
    <footer>
        <div class="container">
            <div class="copyright-section">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; 2015 Gdzie mój jacht -  All Rights Reserved </p>
                    </div>
                    <!-- .col-md-6 -->
                    <div class="col-md-6">
                        <ul class="footer-nav">
                            <li>
                                 Informatyka, magisterskie 2014/15 
                            </li>
                            <li>
                                WEB TEAM
                            </li>
                        </ul>
                    </div>
                    <!-- .col-md-6 -->
                </div>
                <!-- .row -->
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.metisMenu.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/my.js")" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>
