﻿body {
    bottom: 0;
    color: #335476;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

.navbar-color {
    background-color: #335476 !important;
}

.navbar-inverse {
    border-color: #e2e2e2;
}

.navbar-color .navbar-nav > li > a {
    color: #fff !important;
}

    .navbar-color .navbar-nav > li > a:hover {
        color: #82c2d4 !important;
    }

.paddingtop {
    padding-top: 80px;
}
.paddingtopp {
    padding-top: 20px;
}
#statistic {
    padding-top: 40px;
    padding-bottom: 60px;
}

#body {
    background-color: #fff;
    clear: both;
    padding-bottom: 35px;
}

header, footer, nav, section {
    display: block;
}

footer {
    width: 100%;
    background-color: #82c2d4;
    border-top: 4px solid #ddd;
    color: black;
    position: fixed;
    bottom: 0;
}

    footer p {
        color: #335476;
    }

    footer a {
        color: #335476;
    }

        footer a:hover {
            color: #fff;
            text-decoration: underline;
        }

.copyright-section {
    padding: 15px 0;
    font-size: 11px;
    letter-spacing: 0.5px;
    border-top: 1px solid rgba(255,255,255,.06);
}

    .copyright-section p {
        font-size: 11px;
        text-transform: uppercase;
    }

ul.footer-nav {
    float: right;
}

    ul.footer-nav li {
        display: inline-block;
        float: left;
        margin-left: 15px;
    }

        ul.footer-nav li:first-child {
            margin-left: 0;
        }

#loginsection {
    width: 100%;
    background-color: #f3f3f3;
    color: #000;
    height: 25px;
}

#loginsectionuser {
    float: right;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
#services {
text-align:center;
}
i.service-icon {
    border: 1px solid #000;
    border-radius: 50%;
    display: inline-block;
    font-size: 56px;
    color: #335476;
    width: 140px;
    height: 140px;
    line-height: 136px;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 25px;
}

    i.service-icon:hover {
        border: 1px solid #82c2d4;
        color: #fff;
        border-radius: 50%;
        display: inline-block;
        font-size: 56px;
        background-color: #82c2d4;
        line-height: 136px;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;
    }

.service-col {
    padding: 40px 20px;
    margin: 0 10px;
    background-color: none;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin-bottom: 40px;
}

    .service-col .service-icon {
        height: 140px;
        width: 140px;
        margin: 0 auto;
        border: 3px solid #335476;
        -webkit-box-shadow: inset 0 0 0 0 #fff;
        -moz-box-shadow: inset 0 0 0 0 #fff;
        box-shadow: inset 0 0 0 0 #fff;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        transition-delay: 0.3s;
        -webkit-transition-delay: 0.3s;
    }

        .service-col .service-icon i {
            font-size: 4.5em;
            line-height: 140px;
            margin: 0 auto;
            color: #335476;
            -webkit-animation: serviceicon 0.6s ease-in-out;
            -moz-animation: serviceicon 0.6s ease-in-out;
            animation: serviceicon 0.6s ease-in-out;
        }

    .service-col h2 {
        font-weight: 600;
        margin: 1em 0 0.75em;
    }

        .service-col h2 a {
            color: #335476;
        }

.service-col p {
    font-size: 0.875em;
    font-weight: 200;
    margin-bottom: 0;
}

.service-col:hover {
    background-color: #c2e4ee;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

    .service-col:hover .service-icon {
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        transition-delay: 0s;
        -webkit-transition-delay: 0s;
        -webkit-box-shadow: inset 0 0 0 100px #fff;
        -moz-box-shadow: inset 0 0 0 100px #fff;
        box-shadow: inset 0 0 0 100px #fff;
    }

        .service-col:hover .service-icon i {
            color: #82c2d4;
            -webkit-animation: serviceiconhover 0.5s ease-in-out;
            -moz-animation: serviceiconhover 0.5s ease-in-out;
            animation: serviceiconhover 0.5s ease-in-out;
        }
/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
/*layout*/
#logo {
    margin: 0 auto;
    width:800px;
    margin-top:30px;
    height: 150px;
    background-image: url("images/poziome_kolor.png");
    background-size: 80%;
    background-repeat: no-repeat;
}

.navbar-brand {
    height: auto !important;
}

.top-buffer {
    margin-top: 20px;
}
/*colors */
.blue {
    color: #345577;
}

.lightBlue {
    color: #82c2d4;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.iHrefSpan {
    position: absolute;
    margin: -55px 0 0 15px;
    font-size: 20px;
}

.user-avatar {
    width: 280px;
    height: 300px;
    margin-top: 25px;
    padding-right: 5px;
}

/*rozmiar obrazka*/
/*.photo {
    width:300px;
    height:198px;
}

.photo:hover {
    width:600px;
    height:396px;
}*/


.photo {
    position: relative;
    z-index: 0;
}

    .photo:hover {
        background-color: transparent;
        z-index: 50;
    }

    .photo span {
        position: absolute;
        background-color: #82c2d4;
        padding: 5px;
        left: -1000px;
        border: 1px dashed gray;
        visibility: hidden;
        color: black;
        text-decoration: none;
    }

        .photo span img {
            border-width: 0;
            padding: 2px;
        }

    .photo:hover span {
        visibility: visible;
        top: 0;
        left: 0px;
    }
