﻿@model GdzieJacht_Web.Models.UserAndPhotoViewModel

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Znajomi", "Friends", "Friends")</li>
                <li>@Html.ActionLink("Geleria", "Photo", "Photo")</li>
                <li>@Html.ActionLink("Moje trasy", "Trip", "Trip")</li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h1 class="page-header blue">Profil użytkownika</h1>

    <div class="row">
        <!-- left column -->
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="text-center">
                @{
                    if (Model.userPhoto != null)
                    {
                        <img class="avatar img-rounded user-avatar"
                             src="data:image;base64,@System.Convert.ToBase64String(Model.userPhoto.photo_file)" />
                    }
                    else
                    {
                        <img class="avatar img-rounded user-avatar"
                             src="~/Content/images/userFoto.png" />
                    }
}
            </div>
        </div>

        <!-- center blank column -->
        <div class="col-md-1"></div>

        <!-- right column -->
        <div class="col-md-8 col-sm-11 col-xs-11 personal-info">
                <h3>Informacje personale</h3>
                <form class="form-horizontal" role="form" method="post" action="#">
                    <div class="form-group">
                        <label class="col-md-2 control-label blue">Login:</label>
                        <div class="col-md-8">
                            <input class="form-control" name="user_name"
                                   value="@Model.user.user_name" type="text" 
                                   data-toggle="modal" data-target="#dataSavedModal" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">E-mail:</label>
                        <div class="col-md-8">
                            <input class="form-control" name="user_email"
                                   value="@Model.user.user_email" type="email"
                                   data-toggle="modal" data-target="#dataSavedModal" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Telefon:</label>
                        <div class="col-md-8">
                            <input class="form-control" name="user_phone"
                                   value="@Model.user.user_phone" type="tel"
                                   data-toggle="modal" data-target="#dataSavedModal" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Użytkownik od:</label>
                        <div class="col-md-8">
                            <input class="form-control" name="user_created"
                                   value="@Model.user.user_created" type="text"
                                   data-toggle="modal" data-target="#dataSavedModal" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Hasło:</label>
                        <div class="col-md-8">
                            <input class="form-control" name="password1"
                                   value="11111122333" type="password"
                                   data-toggle="modal" data-target="#dataSavedModal" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Powtórz hasło:</label>
                        <div class="col-md-8">
                            <input class="form-control" name="password2"
                                   value="11111122333" type="password"
                                   data-toggle="modal" data-target="#dataSavedModal" readonly>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</div>

<!-- Modal window -->
<div class="modal fade" id="dataSavedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Informacja ze strony</h4>
            </div>
            <div class="modal-body">
                Edycja danych użytkownika jest wyłączona.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>