﻿@{
    ViewBag.Title = "Friends";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions searchFriendsAjaxOptions = new AjaxOptions
    {
        UpdateTargetId = "searchResults",
        LoadingElementId = "loadingID",
        LoadingElementDuration = 1000
    };
}

<script type="text/javascript">
    function onFailure() {
        window.location = '@Url.Action("Logout", "Account", new { id = "SessionExpired" })';
    }
</script>
<div class="paddingtop">
<h3 class="page-header blue">Twoi znajomi</h3>
<div id="friendsList">
    @Html.Action("GetFriends")
</div>
    <div style="margin:0; width:80%; clear:both; ">
        @using (Ajax.BeginForm("SearchFriends", searchFriendsAjaxOptions))
        {
        <div class="input-group custom-search-form" style="width:300px">
            <input type="text" name="userName" class="form-control" placeholder="Szukaj znajomych..." value="@ViewBag.UserName" />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </span>
        </div>
        }
    </div>
    
<div id="loadingID" class="load" style="display:none">
    <p>Trwa wyszukiwanie...</p>
</div>

<div id="searchResults">

</div>
</div>

