﻿@using GdzieJacht_Web.GdzieJachtService
@model IEnumerable<User>

@{
    AjaxOptions removeFriendAjaxOptions = new AjaxOptions
    {
        UpdateTargetId = "friendsList"
    };
}

    @foreach (User u in Model)
    {
    <div style="width:200px; float:left; margin-bottom:15px; margin-right:5px; margin-left:5px">
        @u.user_name
        <div style="float:right">
            @using (Ajax.BeginForm("RemoveFriend", removeFriendAjaxOptions))
            {
                <input type="hidden" name="friendID" value="@u.user_id" />
                <button type="submit" style="background-color:transparent;border:none">
                    <i class="fa fa-remove"></i>
                </button>
            }
        </div>
    </div>
    }
