﻿@using GdzieJacht_Web.GdzieJachtService
@model IEnumerable<User>

@{
    AjaxOptions addFriendAjaxOptions = new AjaxOptions
    {
        UpdateTargetId = "friendsList"
    };
}
<script type="text/javascript">
    function hideAddedUser(userID) {
        $("#" + userID).css("display", "none");
    }
</script>
<div style="clear:both; margin-top:20px;">
@if (Model != null)
{
    if (Model.Count() == 0)
    {
        <p>Brak wyników wyszukiwania</p>
    }
    else
    {
        foreach (User u in Model)
        {
            <div id="@u.user_id" style="width:200px">
                @u.user_name
                <div style="float:right">
                    @using (Ajax.BeginForm("AddFriend", addFriendAjaxOptions))
                    {
                        <input type="hidden" name="friendID" value="@u.user_id" />
                        <button type="submit" style="background-color:transparent;border:none" onclick="hideAddedUser(@u.user_id)">
                           <i class="fa fa-plus"></i>
                        </button>
                    }
                </div>
            </div>
            <br />
        }
    }
}
    </div>


