﻿@model GdzieJacht_Web.GdzieJachtService.User

@{
    Layout = null;
    //rejestracja jako widok częściowy,
    //wg projektu graficznego jest na 1 stronie wraz z logowaniem
 }

<h2>Rejestracja</h2>
@using(Html.BeginForm())
{
    <div>Imię: @Html.EditorFor(x=>x.user_name)</div>
    
    //reszta  i przyciski
    
    
    
}